<div class="fnr-flex fnr-flex-col fnr-place-items-start fnr-p-4 sm:fnr-px-12 md:fnr-px-16 lg:fnr-px-28 sm:fnr-flex-row sm:fnr-justify-between sm:fnr-items-center">
  <div class="fnr-py-4">
    <div
      class="
        fnr-h-8 fnr-w-[calc(97/47*32px)] fnr-bg-left fnr-bg-cover fnr-bg-[url('/assets/images/logo-small.svg')]
        sm:fnr-w-[calc(227/59*32px)] sm:fnr-bg-[url('/assets/images/logo-medium.svg')]
        lg:fnr-h-9 lg:fnr-w-[calc(460/60*36px)] lg:fnr-bg-[url('/assets/images/logo-large.svg')]
      "
    >
    </div>
  </div>
  <div class="fnr-flex fnr-flex-col fnr-place-items-start sm:fnr-flex-row sm:fnr-items-center">
    <div class="fnr-flex fnr-flex-col fnr-gap-4 fnr-border-y fnr-border-r-0 fnr-border-custom-100 sm:fnr-flex-row sm:fnr-gap-6 sm:fnr-px-6 sm:fnr-border-r sm:fnr-border-y-0">
      <fnr-link
        [fnrLinkText]="'About'"
      >
      </fnr-link>
      <fnr-link
        [fnrLinkText]="'Work'"
      >
      </fnr-link>
      <fnr-link
        [fnrLinkText]="'Testimonials'"
      >
      </fnr-link>
      <fnr-link
        [fnrLinkText]="'Contact'"
      >
      </fnr-link>
    </div>
    <div class="fnr-flex fnr-flex-col fnr-py-4 sm:fnr-flex-row sm:fnr-px-6 fnr-gap-4 fnr-place-items-start sm:fnr-items-center">
      <div class="fnr-flex fnr-flex-row fnr-justify-between">
        <span class="fnr-text-body-2-normal fnr-text-custom-600 sm:fnr-hidden">{{ 'Switch Theme' }}</span>
        <fnr-icon-button
          [fnrDarkIconButtonSrc]="'/assets/icon/icon-dark-mode-sm.svg'"
          [fnrIconButtonSrc]="'/assets/icon/icon-light-mode-sm.svg'"
          (fnrIconButtonClicked)="onClickThemeButton()"
        >
        </fnr-icon-button>
      </div>
      <fnr-button
        [fnrButtonText]="'Download CV'"
      ></fnr-button>
    </div>
  </div>
</div>
