<div
  class="fnr-flex fnr-relative fnr-place-items-start fnr-p-4 sm:fnr-px-12 md:fnr-px-16 lg:fnr-px-28 fnr-flex-row fnr-justify-between fnr-items-center"
>
  <div class="">
    <div
      class="fnr-h-8 fnr-bg-left fnr-bg-cover fnr-w-[calc(227/59*32px)] dark:fnr-bg-[url('/assets/images/logo-medium.svg')] fnr-bg-[url('/assets/images/logo-medium-dark.svg')] lg:fnr-h-9 lg:fnr-w-[calc(460/60*36px)] dark:lg:fnr-bg-[url('/assets/images/logo-large.svg')] lg:fnr-bg-[url('/assets/images/logo-large-dark.svg')]"
    ></div>
  </div>

  <div class="fnr-hidden sm:fnr-block">
    <ng-container [ngTemplateOutlet]="linkAndButtons" />
  </div>
  <div class="sm:fnr-hidden fnr-absolute fnr-top-4 fnr-right-4">
    <fnr-icon-button
      *ngIf="!isExpandMenu"
      [fnrIconButtonSrc]="'/assets/icon/light/burger-menu-light.svg'"
      [fnrDarkIconButtonSrc]="'/assets/icon/dark/burger-menu-dark.svg'"
      (fnrIconButtonClicked)="toggleExpandMenu()"
    />
  </div>
  <div
    *ngIf="isExpandMenu"
    class="fnr-flex fnr-flex-col fnr-gap-4 fnr-bg-custom-50 fnr-fixed fnr-right-0 fnr-top-0 fnr-bottom-0 fnr-w-80 fnr-border-l fnr-p-4 fnr-border-l-custom-100 sm:fnr-hidden"
  >
    <div class="fnr-flex fnr-flex-row fnr-justify-between">
      <div
        class="fnr-h-8 fnr-w-[calc(97/47*32px)] fnr-bg-left fnr-bg-cover fnr-bg-[url('/assets/images/logo-small-dark.svg')] dark:fnr-bg-[url('/assets/images/logo-small.svg')]"
      ></div>
      <fnr-icon-button
        [fnrIconButtonSrc]="'/assets/icon/light/close-light.svg'"
        [fnrDarkIconButtonSrc]="'/assets/icon/dark/close-dark.svg'"
        (fnrIconButtonClicked)="toggleExpandMenu()"
      />
    </div>
    <ng-container [ngTemplateOutlet]="linkAndButtons" />
  </div>
</div>

<ng-template #linkAndButtons>
  <div class="fnr-flex fnr-flex-col fnr-place-items-start sm:fnr-flex-row sm:fnr-items-center">
    <div
      class="fnr-flex fnr-flex-col fnr-gap-4 fnr-border-y fnr-border-r-0 fnr-border-custom-100 sm:fnr-flex-row sm:fnr-gap-6 sm:fnr-px-6 sm:fnr-border-r sm:fnr-border-y-0"
    >
      <fnr-link [fnrLinkText]="'About'"></fnr-link>
      <fnr-link [fnrLinkText]="'Work'"></fnr-link>
      <fnr-link [fnrLinkText]="'Testimonials'"></fnr-link>
      <fnr-link [fnrLinkText]="'Contact'"></fnr-link>
    </div>
    <div
      class="fnr-flex fnr-flex-col fnr-py-4 sm:fnr-flex-row sm:fnr-px-6 fnr-gap-4 fnr-place-items-start sm:fnr-items-center"
    >
      <div class="fnr-flex fnr-flex-row fnr-justify-between fnr-items-center">
        <span
          (click)="onClickThemeButton()"
          class="fnr-text-body-2-normal fnr-text-custom-600 sm:fnr-hidden"
        >
          {{ 'Switch Theme' }}
        </span>
        <fnr-icon-button
          [fnrDarkIconButtonSrc]="'/assets/icon/dark/icon-dark-mode-sm.svg'"
          [fnrIconButtonSrc]="'/assets/icon/light/icon-light-mode-sm.svg'"
          (fnrIconButtonClicked)="onClickThemeButton()"
        />
      </div>
      <fnr-button
        class="fnr-w-full fnr-block"
        [fnrButtonText]="'Download CV'"
        (fnrButtonClick)="onClickDownloadCv()"
      />
    </div>
  </div>
</ng-template>
